.bg-black {
  background-color: $black;
}
.text-size-14 {
  font-size: 14px;
}
.nav-link {
  color: $white;
}
.nav-link :hover {
  color: $white;
}

// font

.font-cs-n {
  font-family: "Circular Std Book";
  font-weight: normal;
  font-style: normal;
}
.font-cs-b {
  font-family: "Circular Std";
  font-weight: bold;
  font-style: normal;
}
.font-cs-r{
  font-family: 'Circular Std';
  font-weight: 500;
  font-style: normal;
}
.font-cs-9{
  font-family: 'Circular Std';
  font-weight: 900;
  font-style: normal;
}

// Header shine text effect

.effect-shine {
  color: $white;
}

.wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a.effect-shine:hover {
  mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  mask-size: 200%;
  color: $white;
  text-decoration: none;
  animation: shine 2.5s infinite;
}

@keyframes shine {
  from {
    mask-position: 150%;
  }

  to {
    mask-position: -50%;
  }
}
// Home

.home{
  background-color: $black;
  height: 100vh;
}
.button-view-work{
  margin-top: calc(100vh - 98vh);
  margin-bottom: calc(100vh - 95vh);
}
// Home Content
.home-content{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// ===============================================================================
// ============================== Mega text ======================================
// ===============================================================================

.title {
  .mega-font {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: bold;
    font-size: 5.5rem;
    line-height: 123.3%;
    align-items: center;
    letter-spacing: 0.02em;
    margin-top: calc(100vh - 85vh);

    color: #ffffff;
  }

  @media (min-width: 1300px) {
    .mega-font {
      font-size: 6rem;
    }
  }
  @media (max-width: 1199px) {
    .mega-font {
      font-size: 4rem;
    }
  }
  @media (max-width: 991px) {
    .mega-font {
      font-size: 3.5rem;
      padding-top: 4.5vh;
    }
  }
  @media (max-width: 767px) {
    .mega-font {
      font-size: 2.8rem;
    }
  }

  @media (max-width: 583px) {
    .mega-font {
      font-size: 2.5rem;
      
    }
  }
  @media (max-width: 583px) {
    .mega-font {
      font-size: 2.4rem;
      
    }
  }
  @media (max-width: 492px) {
    .mega-font {
      font-size: 2rem;
    }
  }
  @media (max-width: 415px) {
    .mega-font {
      font-size: 2.5rem;
      line-height: 50px;
    }
    
  }
  @media (min-width: 360px) {
    .mega-font {
      font-size: 1.6rem ;
      line-height: 50px;
    }
    .sub-text{
      font-size: 16px ;
      line-height: 20px ;
    }
  }
  .sub-text {
    position: inherit;
    font-family: "Circular Std Book";
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #c5c5c5;
    padding: 0;
    margin-top: calc(100vh - 98vh) ;
  }

}

// =============================================
// ============ button =========================
// =============================================

.button-wb {
  color: white;
  background-color: black;
  border: 0.8px solid white;
  font-size: 14px;
  outline: none;
  padding: 16px 42px 16px 42px;
  transition: background-color 0.5s ease-in, color 0.5s ease-in;
}
.button-wb:hover {
  color: black;
  background-color: white;
  border: 0.8px solid white;
  font-size: 14px;
  outline: none;
}
.button-wb:active {
  color: black;
  background-color: white;
  border: 0.8px solid white;
  font-size: 14px;
  outline: none;
}

.margin{
  margin-top: calc(16px + 5vw);
}