$blue-t: #2f77eb;
$gray-off: #979797;
.color-gray {
  color: $gray-off;
}
.bg-black {
  background-color: $black;
}
.bg-red {
  background-color: #d92929;
}
.bg-blue {
  background-color: $blue-t;
}
.bg-gray {
  background-color: #f9f9f9;
}
.bg-black-900 {
  background-color: #111111;
}
.bg-vaartani {
  background-color: #145c9e;
}
.bg-tax {
  background-color: #3974de;
}
.bg-clock {
  background: #1d1d1d;
  // background-image: linear-gradient(to right top, #1d1d1d, #696969);
} 
.bg-concept{
  background-color: #50c2e3;
}
.color {
  color: $black !important;
  // color: #c8c8c8 !important;
}
.text-size-16 {
  font-size: 16px;
}
.nav-link {
  color: $white;
  text-decoration: none;
}
.nav-link :hover {
  color: $white;
}

// font

.font-cs-n {
  font-family: "Circular Std Book";
  font-weight: normal;
  font-style: normal;
}
.font-cs-b {
  font-family: "Circular Std";
  font-weight: bold;
  font-style: normal;
}
.font-cs-r {
  font-family: "Circular Std";
  font-weight: 500;
  font-style: normal;
}
.font-cs-9 {
  font-family: "Circular Std";
  font-weight: 900;
  font-style: normal;
}
.font-light {
  font-family: "Lato", sans-serif;
  // font-weight: 300;
  // font-style: bold;
}

// Header shine text effect
.header-site {
  z-index: 9999999;
  position: relative;
}
.effect-shine {
  color: $white;
}
.effect-shine:focus {
  color: $white;
}

.wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a.effect-shine:hover {
  mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  mask-size: 200%;
  color: $white;
  text-decoration: none;
  animation: shine 2.5s infinite;
}

@keyframes shine {
  from {
    mask-position: 150%;
  }

  to {
    mask-position: -50%;
  }
}

// Home

.home {
  background-color: $black;
  height: 100vh;
  min-height: 600px;
}
.button-view-work {
  margin-top: calc(100vh - 98vh);
  margin-bottom: calc(100vh - 95vh);
}
// Home Content
.home-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media (min-width: 768px) {
  .p-b-0 {
    padding: 0 !important;
  }
}
// ===============================================================================
// ============================== Mega text ======================================
// ===============================================================================

.title {
  .mega-font {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: bold;
    font-size: 5.5rem;
    line-height: 123.3%;
    align-items: center;
    letter-spacing: 0.02em;
    margin-top: calc(100vh - 85vh);

    color: #ffffff;
  }

  @media (min-width: 1300px) {
    .mega-font {
      font-size: 6rem;
    }
  }
  @media (max-width: 1199px) {
    .mega-font {
      font-size: 4rem;
    }
  }
  @media (max-width: 991px) {
    .mega-font {
      font-size: 3.5rem;
      padding-top: 4.5vh;
    }
  }
  @media (max-width: 767px) {
    .mega-font {
      font-size: 2.8rem;
    }
  }

  @media (max-width: 583px) {
    .mega-font {
      font-size: 2.5rem;
    }
  }
  @media (max-width: 583px) {
    .mega-font {
      font-size: 2.4rem;
    }
  }
  @media (max-width: 492px) {
    .mega-font {
      font-size: 2rem;
    }
  }
  @media (max-width: 415px) {
    .mega-font {
      font-size: 2.5rem;
      line-height: 50px;
    }
  }
  @media (max-width: 360px) {
    .mega-font {
      font-size: 1.6rem;
      line-height: 50px;
    }
    .sub-text {
      font-size: 16px !important;
      line-height: 20px !important;
    }
  }
  .sub-text {
    position: inherit;
    font-family: "Circular Std Book";
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #c5c5c5;
    padding: 0;
    margin-top: calc(100vh - 98vh);
  }
}

// =============================================
// ============ button =========================
// =============================================

.button-wb {
  color: white;
  background-color: black;
  border: 0.8px solid white;
  font-size: 14px;
  outline: none;
  padding: 16px 42px 16px 42px;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.button-wb:hover {
  color: black;
  background-color: white;
  border: 0.8px solid white;
  font-size: 14px;
  outline: none;
}
.button-wb:active {
  color: black;
  background-color: white;
  border: 0.8px solid white;
  font-size: 14px;
  outline: none;
}

// black button

.button-bw {
  color: $black;
  background-color: #f9f9f9;
  border: 1.5px solid $black;
  font-size: 14px;
  outline: none;
  padding: 18px 50px 16px 50px;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.button-bw:hover {
  color: $white;
  background-color: $black;
  border: 1.5px solid $black;
  font-size: 14px;
  outline: none;
}
.button-bw:active {
  color: $black;
  background-color: $white;
  border: 1.5px solid $white;
  font-size: 14px;
  outline: none;
}

.margin {
  margin-top: calc(16px + 5vw);
}

// Padding

@media (min-width: 1200px) {
  .pb-xl-10,
  .py-xl-10 {
    padding-bottom: 4.5rem !important;
  }
}
@media (min-width: 1200px) {
  .pt-xl-10,
  .py-xl-10 {
    padding-top: 4.5rem !important;
  }
}
@media (min-width: 768px) {
  .pb-md-8,
  .py-md-8 {
    padding-bottom: 3.5rem !important;
  }
}
@media (min-width: 768px) {
  .pt-md-8,
  .py-md-8 {
    padding-top: 3.5rem !important;
  }
  .pb-7,
  .py-7 {
    padding-bottom: 3rem !important;
  }
  .pt-7,
  .py-7 {
    padding-top: 3rem !important;
  }
}

// See more button
.underline {
  position: relative;
  text-decoration: none;
  color: #979797;
  outline: none;
}
.underline:hover {
  text-decoration: none;
  color: black;
  outline: none;
}
.underline:after {
  position: absolute;
  content: "";
  height: 0.8px;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: -4px;

  /****** 
  optional values below 
  ******/

  /* center - (optional) use with adjusting width   */
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50%;
  background: #979797;

  /* optional animation */
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* optional hover classes used with anmiation */
.underline:hover:after {
  width: 90%;
  background: $black;
}

// our services list

@media (max-width: 767px) {
  .ser-row-1 {
    margin-top: 0 !important;
  }
  .ser-row-2 {
    margin-top: 0 !important;
  }
}

.recent-work {
  overflow: overlay;
}
.ser-title {
  font-size: 20px;
}
.service-list {
  padding-left: 0;
  list-style: none;
  line-height: 34px;
  font-size: 16px;
  padding-top: 15px;
}

// technology section

// Tab-view

.toggle .tabs {
  width: 100%;
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #eee;

  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: flex-start;
}
.toggle .tabs .tab {
  float: left;
  background: white;
  color: $gray-off;
  height: 31px;
  margin: 2px 8px 0;
  padding: 0 8px;
  cursor: pointer;

  width: auto;
  white-space: nowrap;
}
.toggle .tabs .tab.active {
  color: $black;
  border-bottom: 2px solid $black;
}
.toggle .panels .panel {
  padding: 20px 10px;
  display: none;
}
.toggle .panels .panel:first-child {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 767px) {
  .toggle .tabs {
    justify-content: center !important;
  }
}
.tech-section-max-width {
  max-width: 1140px;
}

.tab-content {
  padding: 20px 9px;
  .sub-text {
    font-size: 14px;
  }
}
.dis-flex {
  display: flex;
  justify-content: center;
}

// clock

.clock-sub-text {
  color: #9b9b9b;
  line-height: 22px;
}

// footer
@media (min-width: 991px) {
  .footer-top-border {
    // border-top: 0.1px solid #222222;
    border-top: 0.1px solid #181818;
  }
}
@media (max-width: 991px) {
  .footer-top-border {
    border-top: 0.1px solid #2c2c2c;
    // border-top: 0.1px solid #121212;
  }
}

.text-footer {
  color: #bfbfbf !important;
}
.font-ex-small {
  font-size: 0.75rem;
}

.lt-spacing-50 {
  letter-spacing: 0.05em;
}
.color-white {
  color: white;
}
li {
  list-style: none;
}

.opacity-2 {
  opacity: 0.19;
}

.footer-email {
  text-decoration: none !important;
  // color: $black;
  list-style: none;
}
@media (min-width: 1200px) {
  .footer-email {
    font-size: 7.5rem !important;
  }
}
@media (min-width: 1000px) {
  .footer-email {
    font-size: 6.5rem !important;
  }
}
@media (min-width: 900px) {
  .footer-email {
    font-size: 5rem;
  }
}
@media (min-width: 768px) {
  .footer-email {
    font-size: 4.5rem;
  }
}
@media (min-width: 574px) {
  .footer-email {
    font-size: 3.5rem;
  }
  .footer-email-title {
    font-size: 1.5rem;
  }
}
@media (max-width: 574px) {
  .footer-email {
    font-size: 2.5rem;
  }
  .footer-email-title {
    font-size: 1.5rem;
  }
  .social-icon-size {
    font-size: 1.5rem !important;
  }
}
@media (max-width: 575px) {
  .footer-email {
    font-size: 3rem;
  }
  .footer-email-title {
    font-size: 1.5rem;
  }
}
@media (max-width: 440px) {
  .footer-email {
    font-size: 2.3rem;
  }
  .footer-email-title {
    font-size: 1.2rem;
  }
}
@media (max-width: 360px) {
  .footer-email {
    font-size: 2rem;
  }
  .footer-email-title {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .footer-email {
    font-size: 1.6rem;
  }
  .footer-email-title {
    font-size: 1rem;
  }
}

// dot blink effect

.blinking {
  -webkit-animation: 2s blink ease infinite;
  -moz-animation: 1s blink ease infinite;
  -ms-animation: 1s blink ease infinite;
  -o-animation: 1s blink ease infinite;
  animation: 1.15s blink ease infinite;

  overflow: hidden;
  position: absolute;
  top: 30%;
  left: -12%;
  border-radius: 50%;
}
.contact-blink {
  position: relative;
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

// Recent work

.width-img {
  width: 20% !important;
}

.border-r-10 {
  border-radius: 2px;
}

// display block for mobile view

@media (max-width: 1249px) and (min-width: 992px) {
  .font-size-small {
    font-size: 22px !important;
  }
}

@media (max-width: 992px) {
  // mobile view only
  .font-size-small {
    font-size: 36px;
  }
  
}
@media (max-width: 538px) {
  .width-img {
    width: 25% !important;
  }
  // mobile view only
  .font-size-small {
    font-size: 22px;
  }
  
}
@media (max-width: 409px) {
  // mobile view only
  .font-size-small {
    font-size: 20px;
  }
  
}
@media (max-width: 374px) {
  .p-5 {
    padding: 2rem !important;
  }
  // mobile view only
  .font-size-small {
    font-size: 16px;
  }
  
}

// display block and none

@media (min-width: 768px) {
  .block-md-dis-none {
    display: block !important;
  }
  .block-sm-dis-none {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .block-sm-dis-none {
    display: block !important;
  }
  .block-md-dis-none {
    display: none !important;
  }
}

// hover work block

.work-block-effect {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.work-block-effect:hover {
  box-shadow: 0 0 1px 0 transparent, 0 3px 6px 0 transparent;
  // -webkit-filter: brightness(110%);
  // // filter: brightness(110%);
  // -webkit-transform: scale(.99);
  // -ms-transform: scale(.99);
  transform: scale(0.99);
}

// for more work
#for-more {
  display: none;
}

.lt-spacing-15 {
  letter-spacing: 0.08em;
}


//  collapse app

.button-collapse{
  background-color: $black;
  color: $gray-off;
  margin-top: 1px;
	border:solid rgb(56, 56, 56); border-width: 0px 0px 1px 0px ;
}
.button-collapse:hover{
  background-color: $black;
  margin-top: 1px;
}

[data-toggle="collapse"] {
	cursor: pointer;
	width: 100%;
	display: block;
	text-align: left;
	padding: 20px 20px 20px 0px;
	margin-bottom: -1px;
	outline: none;
  transition: all .5s ease-in-out;
	
	&:hover {
    background-color: $black;
	}
	
	&[aria-expanded="true"] {
		background-color: $black;
    color: white;
    
		border: 0px solid rgb(56, 56, 56); border-width: 0px 0px 0px 0px !important;
		
		&:after { 
			content: '\2212';
			margin-right: 2px;
			float: right; 
		}	
	}
	
	&[aria-expanded="false"] {		
		&:after { 
			content: "\002B"; 
			float: right; 
		}	
	}	
}

.box { 
  background-color: $black;
  color: $gray-off;
	border: 1px solid rgb(56, 56, 56); border-width: 0px 0px 1px 0px !important;
	display: none;
	
	ul { 
    padding: 5px 5px 5px 15px; 
    margin: 0;
  }
  li{
    padding: 3px 3px 3px 3px;
    color: #aaaaaa;
  }
	
	margin-bottom: -1px;
}


@media (max-width: 992px) {
  
  .mobile-view-services{
    display: block;
  }
  .web-view-services{
    display: none;
  }
}
@media (min-width: 992px) {
  
  .web-view-services{
    display: block;
  }
  .mobile-view-services{
    display: none;
  }
}
